.pan.p2{
  justify-content: flex-start;
}
.pan.p2 > div{
  margin-bottom: 30px;
}
.pan.p2 .top{
  box-shadow: none;
  width: 100%;
}
.pan.p2 .top.tran{ 
  transform: translateY(0px) scale(1);
}
.pan.p2 .bottom > img,
.pan.p2 .top .wish{
  border: 1px solid #000;
  margin-top: 10px;
}
.pan.p2 .bottom{
  width: 100%;
}
.pan.p2 .sendBox{
  height: 60px;
  position: absolute;
  bottom: 30px;
  background: linear-gradient(90deg,#06b8fe,#ff2681);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 20px #0005;
}
.pan.p2 .top .name{
animation: col 2s linear infinite;
text-shadow: 2px 4px 7px;
 text-transform: capitalize;
}
.pan.p2 .sendBox > div{
  border: 1px solid #000;
  height: 100%;
  width 100%;
  padding: 0 10px;
  border-radius: 90px;
  margin: 0 10px;
}
.pan.p2 .posters{
  object-fit: cover;
}
.bheje {
  border: none;
  color: #fff;
  font-size: 1.2em;
  background: linear-gradient(#0f0,#25c025);
}
.bheje img{
	width: 1.5em;
	margin-left: 11px;
	filter: invert(1);
}
.pan.p2 .sendBox .inPan{
/*   width:  */
background: #fff;
border: 2px solid #f00;
color: #f00;
font-weight: bolder;
animation: high 2s linear infinite;
}
@keyframes high{
  2%{transform: rotate(-7deg)}
  6%{transform: rotate(7deg)}
  10%{transform: rotate(-7deg)}
  14%{transform: rotate(7deg)}
  18%{transform: rotate(0deg) scale(1.1)}
  100%{transform: rotate(0deg) scale(1.1)}
}
